      <main>

    <div class="container-fluid">
    <div class="row">
    <div class="col m12 s12">

        <div class="card grey lighten-4">
            <div class="card-content">
            
<%= form_for(@advertisement) do |f| %>
      <div class="row">
        <div class="input-field col s12">
    <select name="advertisement[profile_id]">
      <option value="" disabled selected>Select Customer</option>
<%Profile.all.each do |c|%>

      <option value="<%=c.id%>"><%=c.name%></option>

<%end%>
    </select>
    <label>Choose Customer</label>
  </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text"  name="advertisement[name]"class="validate">
          <label for="name">Advertisement Name</label>
        </div>
      </div>
      
      <div class="row">
      
        <div class="input-field col s6">
    <select name="advertisement[atype]">
      <option value="Video">Video</option>
      <option value="Roller">Roller</option>
    </select>
    <label>Ad Type</label>
  </div>
    

  <div class="input-field col s6">
          <input id="tcost" type="date" name="advertisement[date]" class="datepicker">
          <label for="tcost">Date</label>
        </div>
      
      </div>
<div class="row">
        <div class="input-field col s6">
          <input id="tcost" type="text" name="advertisement[cost]"class="validate">
          <label for="tcost">Total Cost</label>
        </div>
        
        <div class="input-field col s6">
          <input id="acost" type="text" value="0" name="advertisement[acost]" class="validate">
          <label for="acost">Advance Cost</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <div class="switch"><label>Active?<input type="checkbox"><span class="lever"></span></label></div>
        </div>
      </div>

      <div class="row">
          <button class="btn waves-effect waves-light right" type="submit" name="action">Add Advertisement
  </button>
      </div>
<%end%>           
           
            </div>
        </div>
    </div>
    </div>
    </div>

<script type="text/javascript">
	$('.datepicker').pickadate({
		selectMonth:true,selectYears:true,selectYears:15
	});
</script>
        
    </main>
